{% extends "master.html" %}


{% block content %}


<div class="container-fluid" id="content-border" >
    <div class="container-fluid mt-3 text-center">
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <div class="row" id="center">
        <div class ='col-4' id="filter">
            
            <form action="/home/" method="post">
                <div class="container" id="content-border">
                    <div class="row mt-3 justify-content-center">
                        {% csrf_token %}
                        {{form.start_date.label}}<br>
                        {{ form.start_date }}
                    </div>
                    <div class="row mt-3 justify-content-center">
                        {{form.end_date.label}}<br>
                        {{ form.end_date }}
                    </div>
                    <div class ='row mt-3 justify-content-center'>
                    {{form.crime.label}}<br>
                    {{form.crime}}
                    </div>
                    <div class="row mt-5 text-center">
                    <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-8" >
           
            {{map|safe}}
        </div>
    </div>
  
</div>
{% endblock %}
